<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.slidehome"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:persistent="true" >
        <activity
            android:label="@string/app_name"
            android:launchMode="singleInstance"
            android:name=".activities.SlideHome"
            android:stateNotNeeded="true" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.SettingsActivity" >
        </activity>

        <provider
            android:authorities=".providers.SlideHomeProvider"
            android:name=".providers.SlideHomeProvider" />
    </application>

    <supports-screens android:largeScreens="true" />

</manifest>